@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon377c.ttf?76227024ece042d92ecaa3c6ed45c04e") format("truetype"),
url("../fonts/flaticon377c.woff?76227024ece042d92ecaa3c6ed45c04e") format("woff"),
url("../fonts/flaticon377c.woff2?76227024ece042d92ecaa3c6ed45c04e") format("woff2"),
url("../fonts/flaticon377c.eot?76227024ece042d92ecaa3c6ed45c04e#iefix") format("embedded-opentype"),
url("../fonts/flaticon377c.svg?76227024ece042d92ecaa3c6ed45c04e#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-credit-card:before {
    content: "\f101";
}
.flaticon-dashboard:before {
    content: "\f102";
}
.flaticon-css:before {
    content: "\f103";
}
.flaticon-device:before {
    content: "\f104";
}
.flaticon-code:before {
    content: "\f105";
}
.flaticon-checkmark:before {
    content: "\f106";
}
.flaticon-text:before {
    content: "\f107";
}
.flaticon-font:before {
    content: "\f108";
}
.flaticon-portfolio:before {
    content: "\f109";
}
.flaticon-option:before {
    content: "\f10a";
}
.flaticon-slider:before {
    content: "\f10b";
}
.flaticon-timer:before {
    content: "\f10c";
}
.flaticon-stars:before {
    content: "\f10d";
}
.flaticon-shooting-stars:before {
    content: "\f10e";
}
.flaticon-writing:before {
    content: "\f10f";
}
.flaticon-rgb:before {
    content: "\f110";
}
.flaticon-edge:before {
    content: "\f111";
}
.flaticon-php-document:before {
    content: "\f112";
}
.flaticon-startup:before {
    content: "\f113";
}
.flaticon-browser:before {
    content: "\f114";
}
.flaticon-open-book-with-one-page-folded:before {
    content: "\f115";
}
.flaticon-facebook-app-symbol:before {
    content: "\f116";
}
.flaticon-twitter:before {
    content: "\f117";
}
.flaticon-skype:before {
    content: "\f118";
}
.flaticon-email:before {
    content: "\f119";
}
.flaticon-linkedin:before {
    content: "\f11a";
}
.flaticon-pinterest:before {
    content: "\f11b";
}
.flaticon-youtube:before {
    content: "\f11c";
}
.flaticon-shopping-bag:before {
    content: "\f11d";
}
.flaticon-insurance:before {
    content: "\f11e";
}
.flaticon-shopping-cart:before {
    content: "\f11f";
}
.flaticon-customer-service:before {
    content: "\f120";
}
.flaticon-plus-sign:before {
    content: "\f121";
}
.flaticon-performance:before {
    content: "\f122";
}
.flaticon-top:before {
    content: "\f123";
}
.flaticon-waiting:before {
    content: "\f124";
}
.flaticon-house:before {
    content: "\f125";
}
.flaticon-home:before {
    content: "\f126";
}
.flaticon-house-1:before {
    content: "\f127";
}
.flaticon-page:before {
    content: "\f128";
}
.flaticon-file:before {
    content: "\f129";
}
